/*!CK:1025484468!*//*1410143445,*/

._4x1w{overflow:hidden;position:relative}._4x1w img{left:0;position:absolute;top:0}

#bootloader_CyQLM { height: 42px; }
.bootloader_CyQLM { display:block !important; }