/*!CK:3093996012!*//*1410272278,*/

.sp_1Jh0HxOfqUk{background-image:url(/rsrc.php/v2/y2/r/XjrDwCT_j8s.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_1Jh0HxOfqUk.sx_fd27bb{width:32px;height:32px;background-position:-32px 0}.selected .sp_1Jh0HxOfqUk.sx_fd27bb{background-position:0 0}.sp_1Jh0HxOfqUk.sx_b58ace{background-position:-35px -33px}.sp_1Jh0HxOfqUk.sx_504ff1{background-position:-35px -50px}.sp_1Jh0HxOfqUk.sx_cb0aec{width:34px;height:34px;background-position:0 -33px}

#bootloader_sJNgX { height: 42px; }
.bootloader_sJNgX { display:block !important; }